<ion-header>

  <ion-navbar text-center>
    <ion-title>{{ mode }} Recipe</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <ion-list>

      <ion-item>
        <ion-label floating>Title</ion-label>
        <ion-input formControlName="title" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Description</ion-label>
        <ion-textarea formControlName="description"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label floating>Difficulty</ion-label>
        <ion-select formControlName="difficulty">
          <ion-option value="Easy">Easy</ion-option>
          <ion-option value="Medium">Medium</ion-option>
          <ion-option value="Hard">Hard</ion-option>
        </ion-select>
      </ion-item>

    </ion-list>

    <button type="button"
            ion-button
            outline
            block
            (click)="onManageIngredient()">
      Manage Ingredient
    </button>

    <ion-list formArrayName="ingredients" *ngIf="recipeForm.get('ingredients').length > 0">
      <ion-item
        *ngFor="let ingredient of recipeForm.get('ingredients').controls; let i = index">
        <ion-label floating>Name: </ion-label>
        <ion-input type="text" [formControlName]="i"></ion-input>
      </ion-item>
    </ion-list>

    <button type="submit"
            ion-button
            block
            [disabled]="!recipeForm.valid">
      {{ mode }} Recipe
    </button>
  </form>

</ion-content>
