<!-- Side Menu -->
<ion-menu [content]="main">

  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-list>

      <button ion-item icon-left (click)="onLoad(rootPage)" *ngIf="isLoged">
        <ion-icon name="book"></ion-icon>
        Recipe Book
      </button>

      <button ion-item icon-left (click)="onLoad(signinPage)" *ngIf="!isLoged">
        <ion-icon name="log-in"></ion-icon>
        Sign In
      </button>

      <button ion-item icon-left (click)="onLoad(signupPage)" *ngIf="!isLoged">
        <ion-icon name="person"></ion-icon>
        Sign Up
      </button>

      <button ion-item icon-left (click)="onLogout()" *ngIf="isLoged">
        <ion-icon name="log-out"></ion-icon>
        Logout
      </button>

    </ion-list>

  </ion-content>

</ion-menu>

<!-- Main Content -->
<ion-nav [root]="rootPage" #main></ion-nav>
